<%- include("../layout/header.ejs") -%>



<!-- <%
if(typeof message !== 'undefined'){
    %>
    <p style="color: red;">
      <%= message %></p> 
    <%
}
%> -->

<!-- <form action="/admin" method="post">
    <input type="email" name="Email" placeholder="Enter email" required >
    <br><br> 
    <input type="password" name="Password" placeholder="Enter password" required >
    <br><br>
    <input type="submit" value="login">
</form> -->








<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Admin Login</h3>
              
              <%
              if(typeof message !== 'undefined'){
                  %>
                  <p style="color: red;">
                    <%= message %></p> 
                  <%
              }
              %> 

              <form action="/admin" method="post">
              <div class="form-outline mb-4">
                <input type="email" name="Email" placeholder="Enter email" required >
               
              </div>
  
              <div class="form-outline mb-4">
                    <input type="password" name="Password" placeholder="Enter password" required >
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              <hr class="my-4">
              <h5>Are you user?<a href="/login">login</a></h5>
              <h5>New user <a href="/register">Sign Up</a></h5>
              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  
    <%- include("../layout/footer.ejs") -%>